{% extends 'base.html' %}

{% block content %}
  <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">{{ name }}</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
{#                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">#}

                    <div class="input-group-append">
{#                      <button type="submit" class="btn btn-default">#}
{#                        <i class="fas fa-search"></i>#}
{#                      </button>#}
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                        {% for item in object_list_name %}
                            <th> {{ item }} </th>
                        {% endfor %}
                    </tr>
                  </thead>
                  <tbody>
                  {% for item in object_list %}
                    <tr>
                      <td>{{ item.code }}</td>
                      <td>{{ item.name }}</td>
                    <td><a href="/obmennik/curs_valuta/?valute_id={{ item.pk }}">Валюта Курсы </a></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
{% endblock %}
