{% extends 'base.html' %}

{% block content %}
  <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Отчет Информация о клиентах</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Код клиента </th>
                      <th>ФИО клиента</th>
                      <th>Номер договора</th>
                      <th>Дата составление</th>
                      <th>Валюта</th>
                      <th>Вид операции</th>
                      <th>Сумма</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for item in list %}
                    <tr>
                      <td>{{ item.contract.code_client.code }}</td>
                      <td>{{ item.contract.code_client.fio }}</td>
                      <td>{{ item.contract.pk }}</td>
                      <td>{{ item.contract.date }}</td>
                      <td>{{ item.code_valuta.name }}</td>
                      <td>{{ item.category.name }}</td>
                      <td>{{ item.sum }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
{% endblock %}
