{% extends 'base.html' %}

{% block content %}
  <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Ұйымдар</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
{#                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">#}

                    <div class="input-group-append">
{#                      <button type="submit" class="btn btn-default">#}
{#                        <i class="fas fa-search"></i>#}
{#                      </button>#}
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Ұйымның коды </th>
                      <th>Аты-жөні</th>
                      <th>ИНН</th>
                      <th>КПП</th>
                      <th>Адрес</th>
                      <th>Телефон</th>
                      <th>Көшбасшы</th>
                      <th>Главный бухга</th>
                      <th>ОКПО</th>
                      <th>Р/С</th>
                      <th>БИК</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for item in list %}
                    <tr>
                      <td>{{ item.code }}</td>
                      <td>{{ item.name }}</td>
                      <td>{{ item.inn }}</td>
                      <td>{{ item.kpp }}</td>
                      <td>{{ item.address }}</td>
                      <td>{{ item.phone }}</td>
                      <td>{{ item.director }}</td>
                      <td>{{ item.buhgalter }}</td>
                      <td>{{ item.okpo }}</td>
                      <td>{{ item.pc }}</td>
                      <td>{{ item.bik.bik }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
{% endblock %}
