<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Моя первая страничка</title>
<style type="text/css">
@font-face {
font-family: Verdana;
src: url('http://127.0.0.1:8000/static/assets/fonts/Verdana-BoldItalic.ttf');
}
div { font-family: Verdana; }
</style>
</head>
<body>
<div>Протяженность варьирует дорийский микрохроматический интервал,
     но если бы песен было раз в пять меньше, было бы лучше для всех.
     english test
     {{tst}}</div>
</body>
</html>