{% extends 'base.html' %}

{% block content %}
  <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Клиенттердің валютадағы шоттары</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Валюта коды </th>
                      <th>Клиент коды</th>
                      <th>Валюта шотының нөмірі</th>
                      <th>БИК</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for item in list %}
                    <tr>
                      <td>
                          <select style="width: 100%;">
                              <option>{{ item.code_valuta.code }}</option>
                              <option>{{ item.code_valuta.name }}</option>
                          </select>
                      </td>
                      <td>{{ item.code_client.code }}</td>
                      <td>{{ item.bik.bik }}</td>
                      <td>{{ item.account_number }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
{% endblock %}
